p,textarea,fieldset,ul,form,h3,h2,h1,div,body {
	margin:0
}

p,textarea,fieldset,ul,form,h3,h2,h1,div,body,.menu-nav,#contact-submit,input {
	padding:0
}

ul {
	margin:0 0 17px 0;
	list-style:disc inside none
}

table {
	border-collapse:collapse;
	border-spacing:0
}

img,fieldset,acronym,abbr {
	border:0
}

h3,h2,h1 {
	font-weight:normal;
	line-height:100%
}

body {
	background:#000
}

.container {
	margin:0 auto;
	background:url('../images/background.jpg') 0 0 no-repeat;
	font-family:arial,sans-serif;
	width:540px;
	height:967px
}

.container,.logo,.error {
	overflow:hidden
}

.container,h2,h2.sup,.menu-nav li a,.error {
	color:#fff
}

.content {
	width:505px;
	margin:17px 0 0 35px
}

a {
	color:#f6ff00;
	text-decoration:none;
	font-style:italic;
	outline:0
}

a,#contact-submit {
	font-size:12px;
	cursor:pointer
}

a:hover {
	text-decoration:underline
}

h1 {
	font-size:24px
}

h1,.action-link {
	color:#e91a57
}

h2,h2.sup {
	font-size:18px;
	margin:14px 0
}

h2 {
	color:#ccc;
	margin:14px 0 10px 0
}

h3 {
	font-size:14px;
	color:#fff000;
	margin:0 0 10px 0
}

q,label,input,li,blockquote,p {
	font:12px/13px arial
}

form {
	font:10px/10px arial;
	position:relative
}

p {
	width:370px;
	margin-bottom:14px
}

q {
	width:320px;
	margin-left:35px
}

q,.logo,.menu-nav,.menu-nav li,#contact-submit,input,#news-list,.item-list {
	display:block
}

.logo {
	width:110px;
	height:53px;
	margin-bottom:36px
}

.menu-nav {
	width:100%;
	line-height:17px
}

.menu-nav,.menu-nav li {
	height:17px
}

.menu-nav li {
	width:auto;
	float:left;
	background:url('../images/menu-button.jpg') 0 0 no-repeat
}

.menu-nav li a {
	font:12px/17px arial;
	padding:0 16px;
	margin-right:2px
}

#contact-submit,input {
	height:18px;
	width:236px;
	line-height:18px;
	margin:2px 0 5px 0
}

#contact-submit {
	width:55px;
	height:25px
}

#contact-name {
	width:160px
}

.action-link {
	font:600 12px arial;
	background:url('../images/action-link.png') 4px center no-repeat;
	padding:0 0 0 21px
}

.item-list {
	margin-top:11px;
	list-style:none
}

.error {
	background:red;
	position:absolute;
	font-weight:600;
	padding:5px
}